*__pycache__/
**/.vscode/
.venv/
venv/
ga.code-workspace
data.*
*.data
*.dot
*.gnuplot
*.ini
*.png
*.svg
*.tgz
*.zip
*.ini
*.pyc
*.pyd
*.json
*.
*.code-workspace
**/osmarender/**
fog*.ned
!sample_input*.json
