__pycache__/
.venv/
*.data
*.dot
*.gnuplot
*.ini
*.png
*.svg
*.tgz
*.zip
*.pyc
*.pyd
*.pyo
data.*
fog*.ned
fogconfig.json
mm1_mg1_omnet/osmarender/
output_*.json
sample_output*.json
sample_problem.json
venv/