__pycache__/*
*.ini
fog*.ned
MM1-MG1-Omnet/osmarender/*
data.*
fogconfig.json
GA*.data
GA.data
ChainOptService/__pycache__/*
VNSOptService/__pycache__/*
CharactService/__pycache__/*
GraphOptService/__pycache__/*
*.dot
*.svg
