[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ga = "*"
numpy = "*"
matplotlib = "*"
flask = "*"
mako = "*"
setuptools == 5.7
deap = "*"

[dev-packages]

[requires]
python_version = "3.8"
